.div-table{
    width: 90%;
    margin: 1rem auto;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

h1.header-table {
    font-size: xx-large;
    text-align: center;
    margin: 1rem 1rem;
}

.add-button{
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.edit {
    color: rgb(21, 21, 245);
}

.delete {
    color: rgb(200, 55, 55);
}

.status{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}

