<div class="container mat-elevation-z8">
    <form class="form" [formGroup]="form">
        <h1 class="header-create fullWidth"> {{'technician.deleteTitle'| translate}} </h1>
        <img src="assets/img/tecnico-create.svg" class="fullWidth" alt="imagem de fundo">

        <section>
            <mat-radio-group class="type-user" formControlName="profile" aria-label="Perfil">
                <mat-radio-button value="ADMIN" color="primary"> {{ 'userType.admin' | translate }} </mat-radio-button>
                <mat-radio-button value="DEFAULT" [checked]="true" color="primary"> {{ 'userType.default' | translate }}</mat-radio-button>
                <mat-radio-button value="READONLY" color="primary"> {{ 'userType.readonly' | translate }} </mat-radio-button>
            </mat-radio-group>
        </section>

        <mat-form-field class="user-input fullWidth" appearance="fill">
            <mat-label >{{ 'technician.name' | translate }}</mat-label>
            <input matInput [disabled]="true" formControlName="name" readonly maxlength="50">
        </mat-form-field>

        <mat-form-field class="user-input fullWidth" appearance="fill">
            <mat-label>{{ 'technician.cpf' | translate }}</mat-label>
            <input matInput [disabled]="true" formControlName="cpf" readonly mask="000.000.000-00">
        </mat-form-field>

        <mat-form-field class="user-input fullWidth" appearance="fill">
            <mat-label>{{ 'technician.email' | translate }}</mat-label>
            <input matInput [disabled]="true" formControlName="email" readonly type="email">
        </mat-form-field>

        <button (click)="delete()" class="fullWidth" mat-flat-button color="primary"> {{ 'delete' | translate }} </button>
        <button routerLink="../../" class="fullWidth" mat-stroked-button color="warn"> {{ 'cancel' | translate }} </button>

    </form>
</div>