<div class="container mat-elevation-z8">
    <form class="form" [formGroup]="form">
        <h1 class="header-create fullWidth">{{ 'client.createTitle' | translate }} </h1>
        <img src="assets/img/tecnico-create.svg" class="fullWidth" alt="imagem de fundo">

        <section>
            <mat-radio-group class="type-user" formControlName="profile" aria-label="Perfil">
                <mat-radio-button value="ADMIN" color="primary"> {{ 'userType.admin' | translate }} </mat-radio-button>
                <mat-radio-button value="DEFAULT" [checked]="true" color="primary"> {{ 'userType.default' | translate }}</mat-radio-button>
                <mat-radio-button value="READONLY" color="primary"> {{ 'userType.readonly' | translate }} </mat-radio-button>
            </mat-radio-group>
        </section>

        <mat-form-field class="user-input fullWidth" appearance="fill">
            <mat-label>{{ 'client.name' | translate }}</mat-label>
            <input matInput formControlName="name" maxlength="50" placeholder="Nome completo">
        </mat-form-field>

        <mat-form-field class="user-input fullWidth" appearance="fill">
            <mat-label>{{ 'client.cpf' | translate }}</mat-label>
            <input matInput formControlName="cpf" mask="000.000.000-00" placeholder="CPF (Somente números)">
        </mat-form-field>

        <mat-form-field class="user-input fullWidth" appearance="fill">
            <mat-label>{{ 'client.email' | translate }}</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Ex.: fulano@ciclano.com">
        </mat-form-field>

        <mat-form-field class="user-input fullWidth" appearance="fill">
            <mat-label>{{ 'client.password' | translate }}</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Mínimo: 8 caracteres">
        </mat-form-field>

        <mat-form-field class="user-input fullWidth" appearance="fill">
            <mat-label>{{ 'client.confirmPassword' | translate }}</mat-label>
            <input matInput formControlName="confirmPassword" type="password" placeholder="Repita sua senha">
        </mat-form-field>

        <button [disabled]="!validaCampos()" (click)="create()" class="fullWidth" mat-flat-button color="primary"> {{ 'addRegister' | translate }} </button>
        <button routerLink="../" class="fullWidth" mat-stroked-button color="warn"> {{ 'cancel' | translate }} </button>

    </form>
</div>