<mat-card class="card mat-elevation-z8" appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{'home.title' | translate}} </mat-card-title>
        <mat-card-subtitle> {{'author' | translate}} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="help Desk home image">
    <mat-card-content>
        <p> <br /> <br />
            {{ "home.welcomeMessage" | translate}} <a href="https://www.udemy.com/course/formacao-angular-spring-boot/"> LINK
            </a> <br />
            {{ "home.techListTitle" | translate}} <br />
        </p>

        <div class="container">
            <div class="column">
                <p> {{"commom" | translate}} </p>
                <ul>
                    <li> {{'git'| translate}} </li>
                    <li> {{'gitHub'| translate}} </li>
                    <li> {{'backendDeploy'| translate}} </li>
                    <li> {{'frontendDeploy'| translate}} </li>
                </ul>
            </div>
            <div class="column">
                <p> {{"backend" | translate}} </p>
                <ul>
                    <li> {{'javaVersion'| translate}} </li>
                    <li> {{'springBootVersion'| translate}} </li>
                    <li> {{'springDataJpa'| translate}} </li>
                    <li> {{'hibernate'| translate}} </li>
                    <li> {{'springBootSecurity'| translate}} </li>
                    <li> {{'auth20'| translate}} </li>
                    <li> {{'jwt'| translate}} </li>
                    <li> {{'maven'| translate}} </li>
                </ul>
            </div>
            <div class="column">
                <p> {{"frontend" | translate}} </p>
                <ul>
                    <li> {{'angularVersion'| translate}} </li>
                    <li> {{'angularMaterialVersion'| translate}} </li>
                    <li> {{'nodeJS'| translate}} {{'typeScript'| translate}} </li>
                    <li> {{'ngxTranslate'| translate}} </li>
                    <li> {{'ngx-toastr'| translate}} </li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>