<div class="div-table">

    <h1 class="header-table"> {{'technician.listTitle' | translate}} </h1>

    <button routerLink="create" mat-stroked-button color="primary" class="add-button mat-elevation-z8">{{'technician.addTechnician' | translate}} </button>

    <mat-form-field>
        <mat-label>{{'search' | translate}}</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Rafael" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'technician.id' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'technician.name' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'technician.cpf' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{formatCPF(row.cpf)}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'technician.email' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'technician.actions' | translate}} </th>
                <td mat-cell *matCellDef="let row"> 
                    <a routerLink="update/{{row.id}}">
                        <i class="material-icons edit"> edit</i>                        
                    </a>
                    <a routerLink="delete/{{row.id}}">
                        <i class="material-icons delete"> delete</i>                        
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">{{'filterNotFound'|translate}} "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

</div>