<div class="container">
    <form class="login-form  mat-elevation-z8">
        <h1> Help Desk - Dicas de um dev</h1>

        <img src="assets/img/login-image.svg" alt="Imagem de tela de login">
        <mat-form-field class="email-input full-width">
            <mat-label>E-mail</mat-label>
            <input [formControl]="username" [(ngModel)]="credenciais.username" name="email" matInput
                placeholder="seunome@mail.com">
        </mat-form-field>

        <mat-form-field class="password-input full-width">
            <mat-label>Senha</mat-label>
            <input [formControl]="password" [(ngModel)]="credenciais.password" name="senha" type="password" matInput
                placeholder="Digite sua senha" matInput [type]="passwordVisible ? 'text' : 'password'">

            <mat-icon class="password-visible" matSuffix (click)="togglePasswordVisibility()"> {{passwordVisible ?
                'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <button (click)="logar()" [disabled]="!validaCampos()" mat-stroked-button class="full-width mat-elevation-z4">
            Login
        </button>
    </form>
</div>