<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <img src="assets/img/side-image.svg" alt="Imagem de navegação">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="technician">
        <mat-icon>account_circle</mat-icon>
        Técnicos
      </a>
      <a mat-list-item routerLink="client">
        <mat-icon>person</mat-icon>
        Clientes
      </a>
      <a mat-list-item routerLink="ticket">
        <mat-icon>support</mat-icon>
        Chamados
      </a>
      <a mat-list-item href="https://github.com/rbrumcabral/helpDesk-backend" target="_blank">
        <mat-icon>code</mat-icon>
        Github Backend
      </a>
      <a mat-list-item href="git " target="_blank">
        <mat-icon>code</mat-icon>
        Github Frontend
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header></app-header>
    <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
